.loader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fffc;
  z-index: 999;

  p {
    font-size: 3em;
    text-align: center;
    margin: auto;
  }
}
